<h2>New Translated String</h2>

<p>
    Here you can input a new word or phrase. You can also add a context comments explaning
    how the word or phrase is used. Such as to explain if in this context
    'address' means to address someone or a street address or where the 
    word or phrase will be located, like in a title or a button, to help the
    translators provide a proper translation and help your colleges to tell which translation
    to use.
</p>
<p>
    You can then provide any translation for the word or phase you have along
    with any comments your translators provided you to futher help with the 
    context of the translation.
</p>
<p>
    If the language you have a translation for does not exist in the list
    below you can <%= link_to "add the language to your database", new_language_path %>.
</p>

<hr />

<%= render 'form' %>
