<h2>New Translated String</h2>

<p>
    Here you can input a new word or phrase, any context comments explaning
    how the word or phrase is used. Such as to explain if in this context
    'address' means to address someone or a street address or where the 
    word or phrase will be located, like in a title or a button, to help the
    translators provide a proper translation and users to tell which translation
    to use.
</p>
<p>
    If the language you have a translation for does not exist in the list
    below you can add it to your database. <%= link_to "Add new Language", new_language_path %>
</p>

<%= render 'form' %>
