/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@import "colours";

$footer-height: 60px;
$font-family: 'Droid Serif',Georgia,Cambria,'Times New Roman',Times,serif;

body {
	font-size: 100%;
	font-family: $font-family;
}

 #container {
	min-height: 100%;
	position: relative;
}

hr {
	margin: 20px;
	border-color: $header-blue;
}

/* =Header
-------------------------------------------------------------- */
#header {
	background-color: $header-blue;
	padding: 10px;

	ul {
		list-style: none;
	}

	li {
		line-height: 1.2;
		overflow: hidden;
		margin: 0;
		padding: 0;
		display: inline;
		color: #FFFFFF;

		a {
			text-decoration: none;
			color: #FFFFFF;

			&:hover {
				text-decoration: underline;
				background-color: transparent;
			}
		}
	}

	#logo {
		float: left;
		margin-left: 8px;

		a {
			text-decoration: none;
			color: #FFFFFF;

			&:hover{
				text-decoration: underline;
				background-color: transparent;
			}
		}

		h1 {
			float: left;
			margin-top: 11px;
		}
	}

	#user_menu {
		float: right;
		margin-right: 8px;
	}

	#logo_img {
		float: left;
		margin-right: 8px;
		margin-top: 5px;
	}
}
 

/* =Headings
-------------------------------------------------------------- */

h1, h2, h3, h4, h5, h6 {
	font-family: $font-family;
}

/* =Typeface
-------------------------------------------------------------- */

a,
p {
	font-family: $font-family;
}


/* =Main
-------------------------------------------------------------- */
#main {
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  padding-bottom: $footer-height;
}

@media screen and (max-width: 1280px) {
	#main {
		margin: 8px;
	}
}

/* =Footer
-------------------------------------------------------------- */
#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: $footer-height;
	background-color: $header-blue;

	#copy_write {
		float: right;
		margin-right: 10px;
		margin-top: 30px;

		a,
		p {
			color: #FFFFFF;
			margin-top: 5px;
			margin-bottom: 5px;
		}
	}
}

#header:before,
#header:after,
#footer:before,
#footer:after {
	/**
	* Micro clearfix hack for Main Structure.
	* See: http://nicolasgallagher.com/micro-clearfix-hack/
	*/

	content: '';
	display: table;
}

#header:after,
#footer:after {
	clear: both;
}