// Place all the styles related to the RootStrings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'colours';

#new_string_header:before,
#new_string_header:after,
#string_details > div:first-of-type:before,
#string_details > div:first-of-type:after,
#no_strings_message:before,
#no_strings_message:after,
#welcome:before,
#welcome:after {
	/**
	* Micro clearfix hack for Main Structure.
	* See: http://nicolasgallagher.com/micro-clearfix-hack/
	*/

	content: '';
	display: table;
}

#new_string_header:after,
#string_details > div:first-of-type:after,
#no_strings_message:after,
#welcome:after {
	clear: both;
}

#welcome {
	margin-bottom: 20px;

	div {
		@extend .col-lg-6;
		@extend .col-md-6;
		@extend .col-sm-6;
		@extend .col-xs-12;
	}

	a {
		@extend .btn;
		@extend .btn-primary;
		@extend .btn-block;
	}

	div p {
		margin-top: 0px;
	}
}

#no_strings_message {
	width: 50%;
	margin-left: auto;
	margin-right: auto;

	div:not(:last-child) {
		float: left;
		margin-right: 10px;
	}

	img {
		margin-top: 10px;
	}

	a {
		@extend .btn;
		@extend .btn-primary;
	}
}

@media screen and (max-width: 1024px) {
	#no_strings_message {
		width: 80%;
	}	
}

#strings {
	margin: 10px auto 10px auto;
	width: 90%;

	.string_card {
		margin-top: 5px;
		margin-bottom: 5px;

		a {
			@extend .btn;
			@extend .btn-block;
			@extend .btn-default;
			text-align: left;
			min-height: 70px;
		}

		hr {
			margin-top: 10px;
			margin-bottom: 5px;
		}

		p {
			margin-top: 2px;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		p:first-of-type {
			margin-bottom: 2px;
			font-size: 18px;
		}

		p:last-of-type {
			margin-bottom: 6px;
		}

		div:not(:last-of-type) {
			@extend .container-fluid;
			margin: 0;
			padding: 0;

			span {
				@extend .label;
				@extend .label-info;
				
				display: inline-block;
				font-size: 11px;
				margin: 2px;
			}
		}

		div:first-of-type {
			@extend .hidden-sm;
			@extend .hidden-xs;

			span {
				@extend .col-lg-2;
				@extend .col-md-2;
			}
		}

		div:nth-of-type(2) {
			@extend .hidden-lg;
			@extend .hidden-md;

			span {
				@extend .col-sm-1;
				@extend .col-xs-2;
			}
		}

		div:last-of-type {
			@extend .clearfix;
		}

		label {
			@extend .label;
			@extend .label-danger;
			font-size: 13px;
		}
	}
}

#string_details {
	p {
		margin-left: 10px;
		margin-top: 5px;
	}

	div:first-of-type > div:first-of-type {
		float: left;
	}

	div:first-of-type > div:last-of-type {
		float: right;
		margin-top: 20px;

		a:first-of-type {
			@extend .btn;
			@extend .btn-primary;
			@extend .btn-sm;	
		}

		a:last-of-type {
			@extend .btn;
			@extend .btn-danger;
			@extend .btn-sm;
		}	
	}

	#no_translations {
		p {
			text-align: center;
			@extend .text-danger;
		}

		a {
			@extend .btn;
			@extend .btn-primary;
			display: inherit;
			width: 250px;
			margin-left: auto;
			margin-right: auto;
		}
	}

	#phrase_translations { 
		margin-bottom: 20px;

		div {
			margin: -5px;
			padding: 5px;

			p {
				border-width: 1px;
				border-style: solid;
				padding: 5px;
				background-color: #FFFFFF;
			}
		}

		div:nth-of-type(even) {
			padding: 10px;
		}

		div:nth-of-type(odd) {
			background-color: $highlight-color;
		}
	}
}

#new_string_header {
	h2 {
		float: left;
	}

	#new_string_help_button {
		@extend .btn;
		@extend .btn-info;
		float: right;
		margin-top: 20px;
		margin-bottom: 5px;

		span:first-of-type {
			@extend .glyphicon;
			@extend .glyphicon-question-sign;
		}
		span:last-of-type {
			margin-left: 5px;
		}
	}

	@media screen and (max-width: 427px) {
		#new_string_help_button {
			float: left;
			margin-top: 0px;
		}
	}
}

#help_text {
	@extend .collapse;

	a {
		@extend .btn;
		@extend .btn-primary;
		display: inherit;
		width: 250px;
		margin-left: auto;
		margin-right: auto;
	}
}

form {
	.field  {
		margin-bottom: 0px !important;
		margin-left: -8px;
		padding-left: 8px;
		padding-bottom: 10px;
		padding-top: 5px;
	}

	div:nth-of-type(4n),
	div:nth-of-type(4n-1)  {
		background-color: #C9D9FF;
	}

	.actions {
		margin-top: 8px;
		background-color: transparent !important;
	}

	input[type="submit"] {
		@extend .btn;
		@extend .btn-success;
	}

	input {
		width: 98%;
	}

	label {
		margin-bottom: 0px;
	}
}